.post-header {
    display: flex;
    line-height: 65px;
    height: 65px;
}

.post-header p {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
    align-self: center;
}

.p {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
    align-self: center;
}

.par {
    font-size: 18px;
    margin-right: 20px;
}

.center-div {
    width: 85%;
    display: inherit;
    margin: auto;
}

.title {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}

.titleP {
    font-size: 24px;
    font-weight: 500;
    margin-right: 50px;
}

.date {
    font-weight: 400;
    font-size: 18px;
}

.postBody {
    font-size: 18px;
    padding-bottom: 10px;
}

.user {
    padding-left: 10px;
    padding-right: 15px;
    display: flex;
}

.user:hover {
    color: white;
    background-color: #1976d2;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 15px;
    display: flex;
}

.author {
    font-size: 14px;
    font-weight: 600;
    padding-left: 10px;  
}

@media (max-width:1050px) { 

    .commentMsg {
        font-size: 10px;
    }

    .post-header {
        display: flex;
        line-height: 40px;
        height: 40px;
    }
    
    .post-header p {
        display: inline-block;
        line-height: normal;
        vertical-align: middle;
        align-self: center;
    }
    
    .par {
        font-size: 9px;
        margin-right: 10px;
    }

    .p {
        display: inline-block;
        line-height: normal;
        vertical-align: middle;
        align-self: center;
    }
    
    .center-div {
        width: 95%;
        display: inherit;
        margin: auto;
    }
    
    .title {
        display: flex;
        align-items: center;
        padding-bottom: 5px;
    }

    .title p {
        font-size: 12px;
        font-weight: 500;
        margin-right: 25px;
    }

    .postBody {
        font-size: 12px;
        padding-bottom: 5px;
    }
    
    .user {
        padding-left: 5px;
        padding-right: 7px;
        display: flex;
    }
    
    .user:hover {
        color: white;
        background-color: #1976d2;
        border-radius: 5px;
        padding-left: 5px;
        padding-right: 7px;
        display: flex;
    }

    .author {
        font-size: 12px;
        font-weight: 600;
        padding-left: 5px;  
    }

    .commentsLink {
        font-size: 10px;
    }
}