.center-div {
    width: 85%;
    display: inherit;
    margin: auto;
}

@media (max-width:1050px) { 

    .center-div {
        width: 95%;
        display: inherit;
        margin: auto;
    }
}